<% include partials/header %>

<div class="container">

  <header class="jumbotron landing">
    <h3 class="landing">Welcome to...</h3>
    <img class="bsq" src="images/BBsq.png">
    <p class="landing">Let us show you some of our favorite brunch spots around Portland</p>
    <p>
        <a class="btn btn-lg btn-primary btn-block landing" href="/brunches">View all Brunch Spots</a>
     </p>
  </header>

</div>

<% include partials/footer %>
